.uploadToolWrap {
	align-self: flex-start;
	background-color: var(--color-surface);
	border-radius: 0.5em;
	box-shadow: var(--shadow-elevated);
	color: var(--color-text-strong);
	display: flex;
	flex-direction: column;
	min-height: 300px;
	width: 300px;
}

.uploadToolHeader {
	background-color: var(--strong-blue);
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	color: var(--color-surface-alt);
	display: flex;
	flex-direction: row;
	font-size: 1rem;
	padding: 1.75rem 2.5rem;
	text-transform: uppercase;
}

.headerTitle {
	display: flex;
	flex: 1 0 100%;
}
.headerCloseBtn {
	display: flex;
	font-size: 1.5em;
}

.headerCloseBtn a {
	color: var(--color-surface);
}

.uploadToolBody {
	display: flex;
	flex-direction: column;
	padding: 40px 30px;
}

.progressBarWrap {
	display: flex;
}

.progressBar {
	-webkit-appearance: none;
	height: 0.5em;
	margin-bottom: 2em;
	width: 100%;
}

.progressBar::-webkit-progress-bar {
	background-color: var(--strong-blue-transparent-25);
	border-radius: 4px;
}

.progressBar::-webkit-progress-value {
	background-color: var(--strong-blue);
	border-radius: 4px;
}

.inputFileWrap {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
	position: relative;
}

.inputFile {
	opacity: 0;
    position: absolute;
    z-index: -1;
}

/* Style the label to act as the button */
.customFileInputLabel {
    display: inline-block;
    padding: 10px 20px;
    color: var(--color-white);
    background-color: var(--blue);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

/* Hover effect */
.customFileInputLabel:hover {
    background-color: var(--strong-blue);
}

/* Optional: Style when a file is selected */
/* .customFileInputLabel:after {
    content: '';
    display: block;
    margin-top: 8px;
    font-size: 0.875rem;
    color: var(--color-text-muted);
} */

.fileName {
    color: var(--blue);
    font-size: 0.875rem;
    margin-top: 8px;
    text-align: left;
}

.descriptionWrap {
	display: flex;
	margin-bottom: 2rem;
}

.textareaDescription {
	background-color: var(--color-surface);
	border: 1px solid var(--low-blue);
	color: var(--strong-blue);
	display: flex;
	flex: 1;
	height: 200px;
	outline: none;
	overflow: auto;
	padding: 8px;
	resize: none;
}

.buttonWrap {
	margin-bottom: 2em;
}

.fileUrl {
	display: block;
	font-size: 0.75em;
	margin-bottom: 2em;
	word-break: break-all;
}

.filePreview {
	border-radius: 0.25em;
	box-shadow: var(--shadow-soft);
	height: auto;
	width: 100%;
}
