.App {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: center;
}

.App-main {
	justify-content: center;
	display: flex;
	min-height: calc(100vh - 200px);
	padding-bottom: 24px;
	width: 100%;
}

.App-album-photo:last-child {
	margin-right: 0;
}

.App-link {
	color: var(--strong-blue);
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.buttonMain {
	background-color: #333;
	border: 1px solid transparent;
	border-radius: 0.25em;
	color: #f1f2f7;
	padding: 0.75em 1.5em;
	text-transform: uppercase;
}
