.App-header {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 1em;
	height: 150px;
	justify-content: center;
}

.menuList {
	display: block;
	list-style: none;
	margin: 0;
	max-width: 935px;
	padding: 0;
	width: 100%;
}

.menuItem {
	display: inline-block;
	font-size: 0.75em;
	margin-right: 16px;
	text-transform: uppercase;
}

.menuItem a {
	color: #333;
}

.siteBranding {
	margin: 1em 0;
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
}
