.App-header {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 1em;
	justify-content: center;
	margin: 1em auto 0;
}

.menuList {
	display: block;
	line-height:1.8;
	list-style: none;
	margin: 0;
	max-width: 935px;
	padding: 0;
	width: 100%;
}

.menuItem {
	border-bottom: 1px solid var(--soft);
	display: inline-block;
	font-size: 1rem;
	margin-right: 16px;
	text-transform: uppercase;
}

.menuItem, .menuItem a {
	color: var(--blue);
}
.menuItem:hover {
	border-bottom: 1px solid var(--blue);
}

.itemClick {
	cursor: pointer;
}

.siteBranding {
	color: var(--strong-blue);
	margin: .85em 0;
	font-family: var(--font-comforter);
	font-size: 3.5em;
}
