.loginForm {
	display: flex;
	flex-direction: column;
    max-width: 300px;
    width: 100%;
}
.loginFormInput {
	display: flex;
	padding: 1em;
    width: 100%;
}

.loginFormInput > input {
	background-color: var(--color-white);
	border: 1px solid;
	border-color: var(--color-text-strong-transparent-20);
	font-size: .75em;
	line-height: 46px;
	outline: 0;
	padding: 0 1em;
    width: 100%;
}

.loginFormButton {
	display: flex;
	padding: 1em;
    width: 100%;
}

.loginFormButton > button {
	/* background: rgba(51, 51, 51, 0.7); */
    background: var(--color-text-strong);
	border: none;
	color: var(--color-white);
    font-size: .75em;
	line-height: 46px;
	margin: 0;
	min-width: 160px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
    width: 100%;
}
